body {
	font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5 {
	text-align: center;
}

.mobile-content {
	background: #ecf0f1;
}

#mobile-nav-toggle{
	background: auto;
}

.mobile-header, .mobile-footer {
	background: #539FD3;
}

.link.nav.topic {
	color: #ecf0f1;
	width: 200px;
	line-height: 20px;
	padding: 5px 0;
	text-align: center;
	border-bottom: 1px solid #1C3349;
	border-top: 1px solid #475E74;	
}

.link.nav.topic:nth-last-child(1){
	border-bottom: none;
}

button {
 	margin-bottom: 0px;
}

.btn-block {
	white-space: normal;
}

.link.footer-chatroom {
	float:right;
	height: 40px;
	line-height: 40px;
	color: #333;
	background-color: #2980b9;
	font-size: 15px;
	padding:0 10px;
	border-right: solid 1px #156191;
}

.link.footer-chatroom:nth-last-child(1){
	border-left: solid 1px #156191;
}

.mobile-nav-toggle {
	background-color: transparent;
	background-image: url('../img/people.png');
	background-size: 100% 100%;
	border: none;
	outline: none;
}
.mobile-nav-toggle:focus{
	outline: none;
}

.mobile-nav {
	box-shadow: none;
	background: #34495e;
}

.link.footer-chatroom.active {
	text-decoration: none;
}

.input-group {
    width: 480px;
    margin: 40px auto;
}

.form-control {
	text-indent: 10px;
    width: 420px;
    padding: 0;
    line-height: 28px;
    height: 28px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #888;
    border-right:0;
    float: left;
}

.form-control:focus {
	outline: none;
	border-color: #333;
}

.btn-default {
    width: 50px;
    border: 0;
    background: #FFF;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 40px;
    border: 1px solid #888;
}

