body {
	font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5 {
	text-align: center;
}

.mobile-content {
	background: #ecf0f1;
}

#mobile-nav-toggle{
	background: auto;
}

.mobile-header, .mobile-footer {
	background: #539FD3;
}

.link.nav.topic {
	color: #ecf0f1;
	width: 200px;
	line-height: 20px;
	padding: 5px 0;
	text-align: center;
	border-bottom: 1px solid #1C3349;
	border-top: 1px solid #475E74;	
}

.link.nav.topic:nth-last-child(1){
	border-bottom: none;
}

button {
 	margin-bottom: 0px;
}

.btn-block {
	white-space: normal;
}

.link.footer-chatroom {
	float:right;
	height: 40px;
	line-height: 40px;
	color: #333;
	background-color: #2980b9;
	font-size: 15px;
	padding:0 10px;
	border-right: solid 1px #156191;
}

.link.footer-chatroom:nth-last-child(1){
	border-left: solid 1px #156191;
}

.mobile-nav-toggle {
	background-color: #333;
}

.mobile-nav {
	box-shadow: none;
	background: #34495e;
}

.link.footer-chatroom.active {
	text-decoration: none;
}


