 <div class="triangle-border">
 	<div class="inner-border">
	   <div class="chat_bubble">
	   	<p ng-repeat="msg in chats[currentRoom]" class="{{msg.class}}">
	   	{{msg.username}}: {{msg.message}}
	   	</p>
	   </div>
	   <!--<div class="chat_bubble">
	   	<p class="outbound">
	   	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
	   	laoreet dolore magna
	   	</p>
	   </div>-->
	   <form ng-submit="send(currentRoom)">
                <input id="message_input" ng-model="currentMsg">
                <button id="send_button" type="submit">Send </button>
            </form>
   </div>
</div>
<script type="text/javascript" >
			var winHeight = $(window).height();
			var boxHeight = winHeight - 136;
			$('.triangle-border').height(boxHeight);
 </script>

