 <div class="triangle-border">
 	<div class="inner-border">
	   <div class="chat_bubble">
	   	<p class="inbound">
	   	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
	   	laoreet dolore magna 
	   	</p>
	   </div>
	   <div class="chat_bubble">
	   	<p class="outbound">
	   	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
	   	laoreet dolore magna 
	   	</p>
	   </div>
	   <form action="#">
	       <textarea id="message_input"></textarea>
	       <button id="send_button">Send </button>
	   </form>
   </div>
</div>