<mobile-frame>
    <mobile-header>
        <!-- top-bar-content goes here --> 
    </mobile-header>
    <mobile-nav>
        <!-- off-canvas-nav-content goes here -->
    </mobile-nav>
    <mobile-content>
        <!-- main-content goes here -->
    </mobile-content>
    <mobile-footer>
        <!-- bottom-bar-content goes here -->
        <div class="link footer-chatroom">#General Topic</div>
        <div class="link footer-chatroom">#General Topic</div>
        <div class="link footer-chatroom">#General Topic</div>
    </mobile-footer>
</mobile-frame>
