 <form class="login-form" ng-submit="login(username)">
    <div class="input-group">
    <input type="text" ng-model="username" placeholder="Name" class="form-control">
    <button type="submit" class="btn btn-default" type="button">Go!</button>
  </div>
</form>
 <div class="triangle-border">
            Chat goes here man.
            <form action="#">
                <textarea id="message_input"></textarea>
                <button id="send_button">Send </button>
            </form>
        </div>
